body {
    text-align: center;
    background: lightblue;
    font-family: Raleway, Monaco, monospace;

}
.info:focus {
    background-color: black;
    color: white;
}


.btn {
    display: inline-block;
    margin: 15px;
    text-transform: uppercase;
    padding: 15px;
    background: none;
    color:darkblue;
    font-weight: bold;
    position: relative;
    transition:color 0.9s ease;
    border:3px solid grey;
}
.btn:hover {
    color:white;
}
.btn::after {
    position: absolute;
    content: no-close-quote;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: darkgrey;
    transition:width 0.3s ease;
    z-index:-1;
}
.btn:hover::after {
    width: 100%
}